/* ------------------- */
/* Fonts               */
/* ------------------- */

@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/RobotoCondensed-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AryaDouble";
  src: url("../fonts/AryaDouble.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "KorolevBold";
  src: url("../fonts/KorolevBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "KorolevLight";
  src: url("../fonts/KorolevLight.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "KorolevMedium";
  src: url("../fonts/KorolevMedium.otf");
  font-weight: 500;
  font-style: normal;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

* {
  margin: 0;
  padding: 0;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  min-height: 100vh;
  background: white;

  display: flex;
  flex-direction: column;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
svg {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh;
}

/* make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.container-lg {
  max-width: 1320px;
  margin-inline: auto;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.mtb-1 {
  margin-block: 1rem;
}

.mtb-2 {
  margin-block: 2rem;
}

.mtb-3 {
  margin-block: 3rem;
}

.ml-2 {
  margin-left: 2rem;
}

.light-blue {
  color: #1b325f;
}

.dark-blue {
  color: #120b32;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

@media (992px > width >=1200px) {
  .container-lg {
    max-width: 1140px;
  }
}

@media (768px > width >=992px) {
  .container-lg {
    max-width: 720px;
  }
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 3px solid #4A90E2;
  outline-offset: 2px;
}
