{% extends "layouts/base.html" %}
{% load static %}
{% block title %}
  Chester Blogs
{% endblock title %}
{% block content %}
  <main>
    <section class="flex flex-col items-center justify-between gap-y-5 p-5 py-8 text-center md:flex-row md:p-10 lg:p-16 bg-primary">
      <h1 class="text-3xl font-serif lg:text-5xl">Chester Blogs</h1>
    </section>
    <section class="px-5 py-16 md:px-8">
      <div class="grid gap-5 sm:grid-cols-2 lg:grid-cols-3 xl:px-20 lg:gap-x-8 gap-y-8">
        {% for blog in blogslist %}
          <div class="relative border border-accent">
            {% if blog.image %}
              <a href="{% url 'blog-detail' slug=blog.slug %}"
                 class="block aspect-w-3 aspect-h-2 overflow-hidden">
                <img src="{{ blog.image.url }}"
                     alt="{{ blog.title }}"
                     class="object-cover w-full h-full"
                     width="100"
                     height="auto" />
              </a>
            {% endif %}
            <div class="p-5 space-y-3 bg-base-100 sm:py-10">
              <a href="{% url 'blog-detail' slug=blog.slug %}"
                 class="text-xl font-serif hover:text-accent">{{ blog.title }}</a>
              <div class="flex items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-5 h-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
                <span>{{ blog.pub_date|date:"F d, Y" }}</span>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="flex items-center justify-center gap-5 mt-8 text-lg font-serif">
        {% for num in blogslist.paginator.page_range %}
          {% if num == blogslist.number %}
            <span class="underline decoration-accent">{{ num }}</span>
          {% else %}
            <a href="?page={{ num }}" class="hover:text-accent">{{ num }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </section>
  </main>
{% endblock content %}
